@import 'tailwindcss';

:global(*, *::before, *::after) {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:global(body) {
	min-width: 200px;
	min-height: 200px;
	font-family: 'Archivo Narrow', sans-serif;
}

.material-icons {
	font-size: 1em;
	vertical-align: sub;
	padding-right: 0.5em;
}

/* ---- Root / CSS Variables ---- */
.root {
	--bg: hsl(210, 15%, 97%);
	--text: hsl(215, 20%, 15%);

	background-color: var(--bg);
	color: var(--text);
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	outline: none;
}

.root.dark {
	--bg: hsl(220, 14%, 14%);
	--text: hsl(220, 12%, 82%);
}

#toolbar img {
	width: 18px;
}

@media print {
	* {
		-webkit-print-color-adjust: exact !important;
		print-color-adjust: exact !important;
	}

	button {
		display: none !important;
	}
}